<div class="navbar">
  <div class="nom-logo">
    <img src="https://res.cloudinary.com/dsp76osnf/image/upload/v1666616208/logo-triangle_wkbdhf.png" alt="logo">
  </div>

  <div class="buttons-navbar">
    <div class="bg-btn-nav <%= "prod" if request.path == "/"%>">
      <%= link_to root_path do %>
        <p>Home</p>
      <% end %>
    </div>
    <div class="bg-btn-nav <%= "prod" if request.path == "/public-walks"%>">
      <%= link_to publicwalks_path do %>
        <p>Les balades</p>
      <% end %>
    </div>
    <% if current_user %>
    <div class="bg-btn-nav <%= "prod" if request.path == "/walks"%>">
      <%= link_to walks_path do %>
        <p>Mes balades</p>
      <% end %>
    </div>
    <% else %>
    <div class="bg-btn-nav <%= "prod" if request.path == "/new_user_session"%>">
      <%= link_to new_user_session_path do %>
        <p>Connexion</p>
      <% end %>
    </div>
    <% end %>
    <div class="bg-btn-nav <%= "prod" if request.path == "/contact"%>">
      <%= link_to root_path do %>
        <p class="<%= "prod" if request.path == "/contact" %>">Contact</p>
      <% end %>
    </div>
  </div>
</div>

<div class="banner" >
  <%= link_to "Rejoins-nous !", new_user_registration_path %>
</div>

<div class="my-home-container">
  <h2>Pourquoi rejoindre "Trace ta balade" ?</h2>
  <div class="arg">
    <div class="arg-bis">
      <%= image_tag("https://res.cloudinary.com/dsp76osnf/image/upload/v1668506594/paw_hwc6qr.png") %>
      <p>Regrouper toutes les balades sur un seul site</p>
    </div>
    <div class="arg-bis">
        <%= image_tag("https://res.cloudinary.com/dsp76osnf/image/upload/v1668506594/share_zwemvm.png") %>
        <p>Enregistrer des balades et les partager ... ou pas</p>
    </div>
    <div class="arg-bis">
        <%= image_tag("https://res.cloudinary.com/dsp76osnf/image/upload/v1668506594/search_ykaq5q.png") %>
        <p>Découvrir de nouvelles balades partagées par la communauté</p>
    </div>
  </div>
  <h2>Quelques balades présentes sur "Trace ta balade" :</h2>
  <div class="sample-card">
    <div class="walks" >
        <% unless @walks == nil %>
          <% @walks.each do |w| %>
            <div class="walk-card <%= "public" if w.status == "public"%>">
              <div class="img-card">
                <% if w.photos.present? %>
                  <%= cl_image_tag w.photos.first.key %>
                <% else %>
                  <p class="status"><%= w.status %></p>
                  <img src="https://res.cloudinary.com/dsp76osnf/image/upload/v1664806325/Group_1_omxsxo.png" alt="image">
                <% end %>
              </div>
              <div class="text-card">
                <p><%= w.title %></p>
                <p class="address"><%= w.address %></p>
                <div class="num-card">
                  <% if w.num_km.present? %>
                    <p><i class="fa-sharp fa-solid fa-road"></i><%= (w.num_km)/1000.to_f %>km</p>
                  <% end %>
                  <% if w.duration.present? %>
                    <p><i class="fa-solid fa-clock"></i><%= (w.duration/60.to_f) %>h</p>
                  <% end %>
                  <% if w.rating.present? %>
                    <p><i class="fa-sharp fa-solid fa-star"></i><%= w.rating %>/5</p>
                  <% end %>
                </div>
                <%= link_to "Voir la balade", walk_path(w), target: :_blank %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <div class="review">
    <h2>Vos témoignages</h2>
    <p><%= Review.order('RANDOM()').first.content %></p>
  </div>
</div>

<div class="footer">
  <%= link_to "https://www.instagram.com/les_aleas_d_une_vie_de_chien/?hl=fr", target: :_blank do %>
    <i class="fa-brands fa-instagram"></i>
  <% end %>
  <%= link_to "https://github.com/JeanneEnnaej", target: :_blank do %>
    <i class="fa-brands fa-github"></i>
  <% end %>
  <%= link_to "https://www.linkedin.com/in/jeanne-desmier-6061a3a7/", target: :_blank do %>
    <i class="fa-brands fa-linkedin"></i>
  <% end %>
</div>
