<div class="navbar">
  <div class="nom-logo">
    <img src="https://res.cloudinary.com/dsp76osnf/image/upload/v1666616208/logo-triangle_wkbdhf.png" alt="logo">
  </div>

  <div class="buttons-navbar">
    <div class="bg-btn-nav <%= "prod" if request.path == "/"%>">
      <%= link_to root_path do %>
        <p>Home</p>
      <% end %>
    </div>
    <div class="bg-btn-nav <%= "prod" if request.path == "/public-walks"%>">
      <%= link_to root_path do %>
        <p>Les balades</p>
      <% end %>
    </div>
    <% if current_user %>
    <div class="bg-btn-nav <%= "prod" if request.path == "/walks"%>">
      <%= link_to walks_path do %>
        <p>Mes balades</p>
      <% end %>
    <% else %>
      <%= link_to new_user_session_path do %>
        <p class="<%= "prod" if request.path == "/new_user_session" %>">Connexion</p>
      <% end %>
    <% end %>
    </div>
    <div class="bg-btn-nav <%= "prod" if request.path == "/contact"%>">
      <%= link_to root_path do %>
        <p class="<%= "prod" if request.path == "/contact" %>">Contact</p>
      <% end %>
    </div>
  </div>
</div>

<div class="banner">
  <%= link_to "Rejoins-nous !", new_user_registration_path %>
</div>

<div class="my-container">
  <p>Vous en avez marre de vous balader toujours aux memes endroits ? De chercher sur les différents sites qui existent ? De ne plus vous rappeler la super balade du mois dernier ? Trace ta balade est là pour vous aider. Enregistrez vos balades, notez les, mettez les avantages et les inconvénients et hop</p>
</div>
