<div class="navbar">
  <div class="nom-logo">
    <img src="https://res.cloudinary.com/dsp76osnf/image/upload/v1666616208/logo-triangle_wkbdhf.png" alt="logo">
  </div>

  <div class="buttons-navbar">
    <div class="bg-btn-nav <%= "prod" if request.path == "/"%>">
      <%= link_to root_path do %>
        <p>Home</p>
      <% end %>
    </div>
    <div class="bg-btn-nav <%= "prod" if request.path == "/public-walks"%>">
      <%= link_to root_path do %>
        <p>Les balades</p>
      <% end %>
    </div>
    <% if current_user %>
    <div class="bg-btn-nav <%= "prod" if request.path == "/walks"%>">
      <%= link_to walks_path do %>
        <p>Mes balades</p>
      <% end %>
    </div>
    <% else %>
    <div class="bg-btn-nav <%= "prod" if request.path == "/new_user_session"%>">
      <%= link_to new_user_session_path do %>
        <p>Connexion</p>
      <% end %>
    </div>
    <% end %>
    <div class="bg-btn-nav <%= "prod" if request.path == "/contact"%>">
      <%= link_to root_path do %>
        <p class="<%= "prod" if request.path == "/contact" %>">Contact</p>
      <% end %>
    </div>
  </div>
</div>

<div class="banner" >
  <%= link_to "Rejoins-nous !", new_user_registration_path %>
</div>

<div class="my-container">
  <h2>Pourquoi rejoindre "Trace ta balade" ?</h2>
  <div class="arg">
    <div class="arg-bis">
      <%= image_tag("https://res.cloudinary.com/dsp76osnf/image/upload/v1666684146/Polygon_ghqxas.png") %>
      <p>Regroupe toutes tes balades sur un seul site et personnalise les</p>
    </div>
    <div class="arg-bis">
        <%= image_tag("https://res.cloudinary.com/dsp76osnf/image/upload/v1666684146/Polygon_ghqxas.png") %>
        <p>Enregistre tes balades et partage les si tu le souhaites</p>
    </div>
    <div class="arg-bis">
        <%= image_tag("https://res.cloudinary.com/dsp76osnf/image/upload/v1666684146/Polygon_ghqxas.png") %>
        <p>Découvre de nouvelles balades partagées par la communauté</p>
    </div>
  </div>
  <h2>Quelques balades présentes sur Trace ta balade :</h2>
  <div class="sample-card">
  <%= image_tag("https://res.cloudinary.com/dsp76osnf/image/upload/v1666685449/card-example_vrjfmj.png") %>
  </div>
  <div class="review">
    <h2>Vos témoignages</h2>
    <p>“ Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. ”</p>
  </div>
</div>

<div class="footer">
  <%= link_to "https://www.instagram.com/les_aleas_d_une_vie_de_chien/?hl=fr", target: :_blank do %>
    <i class="fa-brands fa-instagram"></i>
  <% end %>
  <%= link_to "https://github.com/JeanneEnnaej", target: :_blank do %>
    <i class="fa-brands fa-github"></i>
  <% end %>
  <%= link_to "https://www.linkedin.com/in/jeanne-desmier-6061a3a7/", target: :_blank do %>
    <i class="fa-brands fa-linkedin"></i>
  <% end %>
</div>
