<div class="navbar">
  <div class="home-link">
    <%= link_to root_path do %>
      <img src="https://res.cloudinary.com/dsp76osnf/image/upload/v1664291400/logo-brown_kvupnw.png" alt="logo">
    <% end %>
  </div>

  <div class="buttons-navbar">
    <% if current_user %>
      <%= current_user.first_name %>
      <% if current_user.photo.present? %>
        <p> avatar<%= cl_image_tag current_user.photo.key %></p>
      <% else %>
        <img src="https://res.cloudinary.com/dsp76osnf/image/upload/v1663317287/35a1e6d69cf6924b6076d864a5d39e95_d9slf9.jpg">
      <% end %>
      <%= link_to "Déconnexion", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
    <% else %>
      <%= link_to "connexion", new_user_session_path %>
      <%= link_to "inscription", new_user_registration_path %>
    <% end %>
  </div>
</div>

<div class="banner">
  <h1>Trace ta balade</h1>
</div>
