<p>New step</p>

<%= simple_form_for [@walk, @step] do |f| %>
  <p>Nom de l'étape:</p>
  <%= f.input :name, label: false  %>
  <p>Latitude:</p>
  <%= f.input :latitude, label: false  %>
  <p>Longitude:</p>
   <%= f.input :longitude, label: false  %>
  <%= f.button :submit, "Envoyer" %>
<% end %>
