<%= render "navbar" %>

<div class="new-container">

  <h4>Modifier "<%= @walk.title %>"</h4>

  <%= render "form_edit_walk", walk: @walk %>

  <%= link_to 'Retour à ma page', walks_path %>

</div>


<%= render "footer" %>
