<%= render "navbar" %>


<div class="my-container" data-controller="show">
 <h4><i class="fa-solid fa-paw"></i> Tu trouvera ici toutes les balades que tu as enregistré sur <em>Trace ta balade</em> <i class="fa-solid fa-paw"></i></h2>
  <div class="card-map-container">
    <div class="card-container">
      <div class="popup display-none" data-show-target="popup">
        <div class="popup-card">
          <%= render "form_walk", walk: @walk %>
        </div>
          <i class="fa-solid fa-xmark cross" data-action="click->show#showPopup"></i>
      </div>
      <p class="new-walk" data-action="click->show#showPopup"><i class="fa-solid fa-plus"></i> Nouvelle balade</p>
      <div class="walks" >
        <% unless @walks == nil %>
          <% @walks.each do |w| %>
            <div class="walk-card <%= "public" if w.status == "public"%>">
              <div class="img-card">
                <% if w.photos.present? %>
                  <% if w.status.present? %>
                    <p class="status"><%= w.status%></p>
                  <% end %>
                  <%= cl_image_tag w.photos.first.key %>
                <% else %>
                    <% if w.status.present? %>
                      <p class="status"><%= w.status%></p>
                    <% end %>
                  <img src="https://res.cloudinary.com/dsp76osnf/image/upload/v1664806325/Group_1_omxsxo.png" alt="image">
                <% end %>
              </div>
              <div class="text-card">
                <p><%= w.title %></p>
                <p class="address"><%= w.address %></p>
                <div class="num-card">
                  <% if w.num_km.present? %>
                    <p><i class="fa-sharp fa-solid fa-road"></i><%= (w.num_km)/1000.to_f %>km</p>
                  <% end %>
                  <% if w.duration.present? %>
                    <p><i class="fa-solid fa-clock"></i><%= (w.duration/60.to_f) %>h</p>
                  <% end %>
                  <% if w.rating.present? %>
                    <p><i class="fa-sharp fa-solid fa-star"></i><%= w.rating %>/5</p>
                  <% end %>
                </div>
                <%= link_to "Voir la balade", walk_path(w), target: :_blank %>

                <div>
                  <%= link_to walk_path(w),data: {turbo_method: :delete, turbo_confirm: "Etes vous sur?"} do %>
                    <p><i class="fa-solid fa-trash-can"></i></p>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
        <p class="new-walk" data-action="click->show#showPopup"><i class="fa-solid fa-plus"></i> Nouvelle balade</p>
    </div>
    <div class="map"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
  <%= link_to "Déconnexion", destroy_user_session_path, data: { turbo_method: :delete}%>
</div>

<%= render "footer" %>
