<%= render "navbar" %>
<p>Bienvenue sur votre page <%= current_user.first_name %></p>


<div class="my-container">
  <%= link_to new_walk_path do %>
    <p class="new-walk"><i class="fa-solid fa-plus"></i> Nouvelle balade</p>
  <% end %>
  <div class="walks">
    <% unless @walks == nil %>
      <% @walks.each do |w| %>
        <div class="walk-card">
          <%= w.title %>
          <% if w.photos.present? %>
            <% w.photos.each do |p| %>
              <%= cl_image_tag p.key, height: 50, width: 50, crop: :fill %>
            <% end %>
          <% end %>
          <%= w.date %>
          <%= w.address %>
          <% if w.num_km.present? %>
            <%= w.num_km %>
          <% end %>
          <% if w.duration.present? %>
            <%= w.duration %>
          <% end %>
          <% if w.ratting.present? %>
            <%= w.ratting %>
          <% end %>
          <%= link_to "Voir la balade", walk_path(w) %>
          <%= link_to "Modifie la balade", edit_walk_path(w) %>
          <%= link_to "Delete", walk_path(w), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
