<%= render "navbar" %>


<div class="my-container">
  <p>Bienvenue sur votre page <%= current_user.first_name %></p>
  <%= link_to new_walk_path do %>
    <p class="new-walk"><i class="fa-solid fa-plus"></i> Nouvelle balade</p>
  <% end %>
  <div class="walks" >
    <% unless @walks == nil %>
      <% @walks.each do |w| %>
        <div class="walk-card">
          <div class="img-card">
            <% if w.photos.present? %>
              <%= cl_image_tag w.photos.first.key %>
            <% else %>
              <img src="https://res.cloudinary.com/dsp76osnf/image/upload/v1664348684/pexels-james-wheeler-1578750_bes1io.jpg" alt="image">
            <% end %>
          </div>
          <div class="text-card">
            <p><%= w.title %></p>
            <p><%= w.address %></p>
            <div class="num-card">
              <% if w.num_km.present? %>
                <p><i class="fa-sharp fa-solid fa-road"></i><%= w.num_km.to_f %>km</p>
              <% end %>
              <% if w.duration.present? %>
                <p><i class="fa-solid fa-clock"></i><%= w.duration %>h</p>
              <% end %>
              <% if w.ratting.present? %>
                <p><i class="fa-sharp fa-solid fa-star"></i><%= w.ratting %>/5</p>
              <% end %>
            </div>
            <%= link_to "Voir la balade", walk_path(w), target: :_blank %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
    <%= link_to new_walk_path do %>
      <p class="new-walk"><i class="fa-solid fa-plus"></i> Nouvelle balade</p>
    <% end %>
</div>
