<%= render "navbar" %>


<div class="my-container" data-controller="show">
  <h4> La balade : "<%= @walk.title %>"</h3>
  <div class="show-container">
    <div class="show-card" data-controller="img">
      <div class="img-card">
        <% if @walk.photos.present? %>
          <% if @walk.status.present? %>
            <p class="status"><%= @walk.status%></p>
          <% end %>
          <span data-action="click->img#showPopup"><%= cl_image_tag @walk.photos.first.key %></span>
          <p class="indication">Cliquez sur la photo pour voir toutes les photos</p>
        <% else %>
          <% if @walk.status.present? %>
            <p class="status"><%= @walk.status%></p>
          <% end %>
          <img src="https://res.cloudinary.com/dsp76osnf/image/upload/v1664806325/Group_1_omxsxo.png" alt="image" data-action="click->img#showPopup">
        <% end %>
        <% if @walk.photos.present? %>
          <div class="img-popup display-none" data-img-target="popup" >
            <div class="img-popup-card">
              <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <%= cl_image_tag @walk.photos.first.key, class:"d-block w-50 mx-auto "%>
                  </div>
                  <% if @walk.photos[1].present? %>
                    <div class="carousel-item">
                      <%= cl_image_tag @walk.photos[1].key, class:"d-block w-50 mx-auto"%>
                    </div>
                  <% end %>
                  <% if @walk.photos[2].present? %>
                    <div class="carousel-item">
                      <%= cl_image_tag @walk.photos[2].key, class:"d-block w-50 mx-auto"%>
                    </div>
                  <% end %>
                  <% if @walk.photos[3].present? %>
                    <div class="carousel-item">
                      <%= cl_image_tag @walk.photos[3].key, class:"d-block w-50 mx-auto"%>
                    </div>
                  <% end %>
                  <% if @walk.photos[4].present? %>
                    <div class="carousel-item">
                      <%= cl_image_tag @walk.photos[4].key, class:"d-block w-50 mx-auto"%>
                    </div>
                  <% end %>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
            <i class="fa-solid fa-xmark cross" data-action="click->img#showPopup"></i>
          </div>
        <% end %>
      </div>

      <div class="show-card-text">
        <div class="info">
          <% if @walk.date.present? %>
            <p>Balade du <%= @walk.date.strftime("%d/%m/%Y") %></p>
          <% end %>
          <p>Adresse : <%= @walk.address %></p>
        </div>
        <div class="details">
          <% if @walk.num_km.present?  %>
            <p><i class="fa-sharp fa-solid fa-road"></i> <%= (@walk.num_km)/1000.to_f %>km</p>
          <% end %>
          <% if @walk.duration.present? %>
            <p><i class="fa-solid fa-clock"></i> <%= ((@walk.duration)/60.to_f) %>h</p>
          <% end %>
          <% if current_user.id == @walk.user_id %>
            <% if @walk.rating.present? %>
              <p>Note perso :<i class="fa-sharp fa-solid fa-star"></i> <%= @walk.rating %>/5</p>
            <% end %>
            <% if @average_rating.nan? == false %>
              <p>Note publique :<i class="fa-sharp fa-solid fa-star"></i><%= @average_rating.round(1) %>/5</p>
            <% end %>
          <% end %>
        </div>
        <% if @walk.content.present? %>
          <span class="content-walk"><%= @walk.content %></span>
        <% end %>
        <br>
        <% if @walk.link.present? %>
          <span class="extern-link2"><%= link_to "Lien vers la rando", "#{@walk.link}", target: :_blank %></span>
        <% end %>
        <div class="liste">
          <div class="advantage">
          <p> Les points positifs de la balade :</p>
          <ul>
            <% unless @walk.advantages == nil %>
              <% @walk.advantages.each do |a| %>
                <li><%= a.name %></li>
              <% end %>
            <% end %>
          </ul>
          </div>
          <div class="disadvantage">
            <p> Les points négatifs de la balade :</p>
            <ul>
              <% unless @walk.disadvantages == nil %>
                <% @walk.disadvantages.each do |a| %>
                  <li><%= a.name %></li>
                <% end %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="itinerary-container">
   <% if @walk.steps.present? %>
      <div class="step-map"
        data-controller="step-map"
        data-step-map-markers-value="<%= @markers.to_json %>"
        data-step-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        <div class="form-map-step">
          <p data-action="click->step-map#showStepForm">Ajouter une étape</p>
          <div data-step-map-target="stepForm">
            <%= render  "steps/form_new_step", walk:@walk, step:@step %>
          </div>
        </div>

      </div>
      <div class="steps-list">
        <ul>
        <% s=0 %>
        <% @walk.steps.each do |step| %>
          <li>Etape <%= s+=1 %> : <%= step.name %> / latitude :<%= step.latitude %> longitude :<%= step.longitude %></li>
        <% end %>
        </ul>
        <% if current_user.id == @walk.user_id %>
          <%= link_to "Modifier l'itinéraire de la balade", walk_steps_path(@walk), class: "edit-itinerary"%>
        <% end %>
      </div>
    <% else %>
      <% if current_user.id == @walk.user_id %>
        <div class="new-itinerary">
          <p>Créez un itinéraire pour plus de visibilité !</p>
          <%= link_to "Créer un itinéraire de balade", walk_steps_path(@walk), class: "create-itinerary"%>
        </div>
      <% else %>
        <p><%= @walk.user.first_name %> n'a pas créé d'itinéraire pour cette balade</p>
      <% end %>
    <% end %>
  </div>

  <div class="walk-review">
    <h4>Commentaires</h4>
    <% if @walk.walk_reviews == [] %>
      <p>Il n'y a pas encore de commentaire sur cette balade, lancez vous !</p>
    <% else %>
      <ul>
        <% @walk.walk_reviews.each do |walk_review| %>
          <p><li><%= walk_review.content %> / note : <%= walk_review.rating %></li></p>
        <% end %>
      </ul>
    <% end %>
    <%= link_to "Noter la balade", new_walk_walk_review_path(@walk) %>
  </div>

  <div class="show-link">
    <% if current_user.id == @walk.user_id %>
      <%= link_to "Modifier la balade", edit_walk_path(@walk) %>
    <% end %>
    <% if current_user.id == @walk.user_id %>
      <%= link_to "Supprimer la balade", walk_path(@walk), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
    <% end %>
    <%= link_to "Retourner à la liste", walks_path %>
  </div>
</div>



<%= render "footer" %>
