<%= render "navbar" %>
<div class="show-banner">
  <p> Balade : <%= @walk.title %></p>
</div>

<div class="my-container">
  <div class="show-container">
    <div class="show-card" data-controller="img">
      <div class="img-card">
        <% if @walk.photos.present? %>
          <span data-action="click->img#showPopup"><%= cl_image_tag @walk.photos.first.key %></span>
          <p class="indication"> Cliquez sur la photo pour voir toutes les photos</p>
        <% else %>
          <img src="https://res.cloudinary.com/dsp76osnf/image/upload/v1664806325/Group_1_omxsxo.png" alt="image" data-action="click->img#showPopup">
        <% end %>
        <% if @walk.photos.present? %>
          <div class="img-popup display-none" data-img-target="popup" >
            <div class="img-popup-card">
              <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <%= cl_image_tag @walk.photos.first.key, class:"d-block w-50 mx-auto "%>
                  </div>
                  <% if @walk.photos[1].present? %>
                    <div class="carousel-item">
                      <%= cl_image_tag @walk.photos[1].key, class:"d-block w-50 mx-auto"%>
                    </div>
                  <% end %>
                  <% if @walk.photos[2].present? %>
                    <div class="carousel-item">
                      <%= cl_image_tag @walk.photos[2].key, class:"d-block w-50 mx-auto"%>
                    </div>
                  <% end %>
                  <% if @walk.photos[3].present? %>
                    <div class="carousel-item">
                      <%= cl_image_tag @walk.photos[3].key, class:"d-block w-50 mx-auto"%>
                    </div>
                  <% end %>
                  <% if @walk.photos[4].present? %>
                    <div class="carousel-item">
                      <%= cl_image_tag @walk.photos[4].key, class:"d-block w-50 mx-auto"%>
                    </div>
                  <% end %>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
            <i class="fa-solid fa-xmark cross" data-action="click->img#showPopup"></i>
          </div>
        <% end %>
      </div>
      <div class="info">
        <p>Balade du <%= @walk.date.strftime("%d/%m/%Y") %></p>
        <p>Adresse : <%= @walk.address %></p>
      </div>
      <div class="details">
        <% if @walk.num_km.present?  %>
          <p><i class="fa-sharp fa-solid fa-road"></i> <%= @walk.num_km.to_f %>km</p>
        <% end %>
        <% if @walk.duration.present? %>
          <p><i class="fa-solid fa-clock"></i> <%= @walk.duration %>h</p>
        <% end %>
        <% if @walk.ratting.present? %>
          <p><i class="fa-sharp fa-solid fa-star"></i> <%= @walk.ratting %>/5</p>
        <% end %>
      </div>
      <% if @walk.content.present? %>
        <span class="content-walk"><%= @walk.content %></span>
      <% end %>
      <% if @walk.link.present? %>
        <span class="extern-link2"><%= link_to "Lien vers la rando", "#{@walk.link}", target: :_blank %></span>
      <% end %>
      <div class="liste">
        <div class="advantage">
        <p> Les points positifs de la balade :</p>
        <ul>
          <% unless @walk.advantages == nil %>
            <% @walk.advantages.each do |a| %>
              <li><%= a.name %></li>
            <% end %>
          <% end %>
        </ul>
        </div>
        <div class="disadvantage">
          <p> Les points négatifs de la balade :</p>
          <ul>
            <% unless @walk.disadvantages == nil %>
              <% @walk.disadvantages.each do |a| %>
                <li><%= a.name %></li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="show-link">
        <%= link_to "Modifier la balade", edit_walk_path(@walk) %>
        <%= link_to "Supprimer", walk_path(@walk), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
        <%= link_to "Retourner à la liste", walks_path %>
      </div>
    </div>
  </div>
</div>
